.splash-container {
  height: 700px;
  width: 100%;
  padding-top: 60px;
  background: var(--bg-primary-color);
}

.splash-grid {
  width: 100%;
  height: 560px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 10rem;
}

.splash-heading {
  display: grid;
  width: 100%;
  height: 80px;
  grid-row: 1;
  grid-column: 1 / span 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.splash-section {
  background: #f4f4f4;
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  padding: 1rem 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  min-width: 320px;
  max-width: 375px;
  justify-self: center;
}

.splash-img {
  max-width: 150px;
}