.select-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  width: 100%;
  height: 100%;
  padding: 4rem 4rem;
}

.form-heading {
  text-align: center;
  padding: 2rem 0;
  height: 80px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.form-control {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--secondary-color);
  padding: 2rem 2rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.select-themed {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	padding: 10px 10px 10px 0;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
  cursor: pointer;
}

.form-p1 {
  grid-column: 1 / span 2;
  height: 40px;
  width: 100%;
}

.vs {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
}

.form-p2 {
  grid-column: 4 / span 2;
  height: 40px;
  width: 100%;
}

.form-score {
  grid-column: 1 / span 5;
}

.form-button {
  grid-row: 3;
  grid-column: 3;

  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: var(--secondary-color);
  color: #333;
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--accent-color);
  color: var(--accent2-color);
  transition: .25s ease-in-out;
}