@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --primary-color: rgb(31, 42, 56);
  --secondary-color: rgb(238, 234, 230);
  --accent-color: rgb(234, 92, 92);

  --bg-primary-color: rgb(26, 31, 39);
  --bg-secondary-color: rgb(233, 233, 233);
}

*{
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--bg-primary-color);
}